---
# Run the main.py script in a virtual environment,
# installing the needed dependecies beforehand
# and securely passing a github token over.

- name: Clone Pull Request Metrics Repo into home directory
  become: true
  ansible.builtin.git:
    repo: 'https://github.com/Dmitry-Popovichev/Pull-Request-Metrics.git'
    dest: /home/ubuntu/Pull-Request-Metrics/

- name: Ensure Python3 and pip are installed
  become: true
  ansible.builtin.apt:
    name:
      - python3
      - python-pip
      - python3-venv
    state: present

- name: Create a Python virtual environment
  ansible.builtin.command: python3 -m venv /home/ubuntu/.venv

- name: Install dependencies in the virtual environment
  ansible.builtin.pip:
    requirements: /home/ubuntu/Pull-Request-Metrics/requirements.txt
    virtualenv: /home/ubuntu/.venv

- name: Create exporter system user
  become: true
  ansible.builtin.user:
    name: exporter_user
    system: true
    shell: /sbin/nologin

- name: Clone Pull Request Metrics Repo in /opt/
  become: true
  ansible.builtin.git:
    repo: 'https://github.com/Dmitry-Popovichev/Pull-Request-Metrics.git'
    dest: /opt/exporter

- name: Load in variable files
  ansible.builtin.include_vars: "{{ vars_file }}"

- name: Create a local config file with the token
  become: true
  ansible.builtin.copy:
    content: "GITHUB_TOKEN={{ github_token }}"
    dest: /etc/exporter_token
    owner: exporter_user
    group: exporter_user
    mode: '0600'

- name: Run the Python script
  ansible.builtin.command: >
    /home/ubuntu/.venv/bin/python
    /home/ubuntu/Pull-Request-Metrics/src/main.py
  environment:
    GITHUB_TOKEN: "{{ github_token }}"
  register: script_output
