---
# Run the main.py script in a virtual environment,
# installing the needed dependecies beforehand
# and securely passing a github token over.

- name: Clone Pull Request Metrics Repo into home directory
  become: true
  ansible.builtin.git:
    repo: 'https://github.com/Dmitry-Popovichev/Pull-Request-Metrics.git'
    dest: /home/ubuntu/Pull-Request-Metrics/
    version: main
    force: true

- name: Ensure Python3 and pip are installed
  become: true
  ansible.builtin.apt:
    name:
      - python3
      - python-pip
      - python3-venv
    state: present

- name: Create exporter system user
  become: true
  ansible.builtin.user:
    name: exporter_user
    system: true
    shell: /sbin/nologin

- name: Load in variable files
  ansible.builtin.include_vars: "{{ vars_file }}"

- name: Create a local config file with the token
  become: true
  ansible.builtin.copy:
    content: "GITHUB_TOKEN={{ github_token }}"
    dest: /etc/exporter_token
    owner: exporter_user
    group: exporter_user
    mode: '0600'

- name: Build the Docker image for the exporter
  community.docker.docker_image:
    name: exporter_app
    state: present
    build:
      path: /home/ubuntu/Pull-Request-Metrics/src/
    source: build

- name: Run the Python script in Docker
  community.docker.docker_container:
    name: pr_metrics_exporter
    image: exporter_app:latest
    state: present
    restart_policy: false
    env:
      GITHUB_TOKEN: "{{ github_token }}"

- name: Schedule script to run twice daily at 9am and 4pm, Mon-Fri
  ansible.builtin.cron:
    name: pr_metrics_exporter_cron
    weekday: MON-FRI
    hour: "9,16"
    minute: "0"
    job: "docker start pr_metrics_exporter"
