---
- hosts: exporter
  roles:
    - docker
    - {"role": exporter, "vars_file": "./secrets.yml"}

- hosts: prometheus
  roles:
    - prometheus
  tags:
    - prom

- hosts: grafana
  roles:
    - grafana
  tags:
    - grafana
