---
- name: Deploy Pull Request Metric Stack
  hosts: exporter

  vars_files:
    - ./secrets.yml

  roles:
    - docker

  tasks:
    - name: Create exporter system user
      become: true
      ansible.builtin.user:
        name: exporter_user
        system: true
        shell: /sbin/nologin

    - name: Clone Pull Request Metrics Repo
      become: true
      ansible.builtin.git:
        repo: 'https://github.com/Dmitry-Popovichev/Pull-Request-Metrics.git'
        dest: /opt/exporter

    - name: Create a local config file with the token
      become: true
      no_log: true
      ansible.builtin.copy:
        content: "TOKEN={{ github_token }}"
        dest: /etc/exporter_token
        owner: exporter_user
        group: exporter_user
        mode: '0600'
