---
name: PyLint
on:
  push:
    branches: [main]
  pull_request:

jobs:
  Pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: Silleellie/pylint-github-action@v2.1
        with:
          lint-path: src
          python-version: 3.11
          badge: ${{ github.ref == 'refs/heads/main' }}
